
@{
    ViewBag.Title = "Show";
}

@if (Model.PostId == 0)
{
    <h2>Post not found</h2>
}
else
{
    <h2>@Model.Title</h2>
    <div>In category: @Model.Category.Name</div>
    <div>Written by: @Model.Author.Username</div>

    <p>@Html.Raw(Model.Contents)</p>
}
